
.icon-cloud:before { content: '\e800'; } /* '' */
.icon-sun:before { content: '\e801'; } /* '' */
.icon-cloud-sun:before { content: '\e802'; } /* '' */
.icon-sun-1:before { content: '\e803'; } /* '' */
.icon-clouds-inv:before { content: '\e804'; } /* '' */
.icon-windy:before { content: '\e805'; } /* '' */
.icon-heart:before { content: '\e806'; } /* '' */
.icon-paper-plane-1:before { content: '\e807'; } /* '' */
.icon-paper-plane:before { content: '\f01d'; } /* '' */
